@charset "UTF-8";

:root {
	--main-color: #5D9AB2;
	--accent-color: #3F729D;
	--dark-main-color: #2B5566;
	--text-bright-color: #fff;
	--icon-color: #fff;
	--icon-bk-color: #ddd;
	--large-width: 1000px;
}


body {
	margin: 0;
	font-family: "メイリオ",
		"Hiragino Kaku Gothic Pro",
		sans-serif;
}

.page-loader {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
}
/*===アニメーション==以下の部分は適宜ご自分用に変更してください。表示する文字数などにより異なります。これは Web Design Leaves と表示する場合の例です。========*/
#fountainTextG {
  width: 234px;
  margin: 200px auto;
}
.fountainTextG {
  color: rgb(0,0,0);
  font-family: Arial;
  font-size: 24px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_fountainTextG;
  -o-animation-name: bounce_fountainTextG;
  -ms-animation-name: bounce_fountainTextG;
  -webkit-animation-name: bounce_fountainTextG;
  -moz-animation-name: bounce_fountainTextG;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(.5);
  -o-transform: scale(.5);
  -ms-transform: scale(.5);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
}
#fountainTextG_1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#fountainTextG_2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
#fountainTextG_3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
#fountainTextG_4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
#fountainTextG_5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
#fountainTextG_6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
#fountainTextG_7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}
#fountainTextG_8 {
  animation-delay: 1.79s;
  -o-animation-delay: 1.79s;
  -ms-animation-delay: 1.79s;
  -webkit-animation-delay: 1.79s;
  -moz-animation-delay: 1.79s;
}
#fountainTextG_9 {
  animation-delay: 1.94s;
  -o-animation-delay: 1.94s;
  -ms-animation-delay: 1.94s;
  -webkit-animation-delay: 1.94s;
  -moz-animation-delay: 1.94s;
}
#fountainTextG_10 {
  animation-delay: 2.09s;
  -o-animation-delay: 2.09s;
  -ms-animation-delay: 2.09s;
  -webkit-animation-delay: 2.09s;
  -moz-animation-delay: 2.09s;
}
#fountainTextG_11 {
  animation-delay: 2.24s;
  -o-animation-delay: 2.24s;
  -ms-animation-delay: 2.24s;
  -webkit-animation-delay: 2.24s;
  -moz-animation-delay: 2.24s;
}
#fountainTextG_12 {
  animation-delay: 2.39s;
  -o-animation-delay: 2.39s;
  -ms-animation-delay: 2.39s;
  -webkit-animation-delay: 2.39s;
  -moz-animation-delay: 2.39s;
}
#fountainTextG_13 {
  animation-delay: 2.54s;
  -o-animation-delay: 2.54s;
  -ms-animation-delay: 2.54s;
  -webkit-animation-delay: 2.54s;
  -moz-animation-delay: 2.54s;
}
#fountainTextG_14 {
  animation-delay: 2.69s;
  -o-animation-delay: 2.69s;
  -ms-animation-delay: 2.69s;
  -webkit-animation-delay: 2.69s;
  -moz-animation-delay: 2.69s;
}
#fountainTextG_15 {
  animation-delay: 2.84s;
  -o-animation-delay: 2.84s;
  -ms-animation-delay: 2.84s;
  -webkit-animation-delay: 2.84s;
  -moz-animation-delay: 2.84s;
}

 @keyframes bounce_fountainTextG {
   0% {
   transform:scale(1);
   color:rgb(0,0,0);
  }
   100% {
   transform:scale(.5);
   color:rgb(255,255,255);
  }
}
 @-o-keyframes bounce_fountainTextG {
   0% {
   -o-transform:scale(1);
   color:rgb(0,0,0);
  }
   100% {
   -o-transform:scale(.5);
   color:rgb(255,255,255);
  }
}
 @-ms-keyframes bounce_fountainTextG {
   0% {
   -ms-transform:scale(1);
   color:rgb(0,0,0);
  }
   100% {
   -ms-transform:scale(.5);
   color:rgb(255,255,255);
  }
}
 @-webkit-keyframes bounce_fountainTextG {
   0% {
   -webkit-transform:scale(1);
   color:rgb(0,0,0);
  }
   100% {
   -webkit-transform:scale(.5);
   color:rgb(255,255,255);
  }
}
 @-moz-keyframes bounce_fountainTextG {
   0% {
   -moz-transform:scale(1);
   color:rgb(0,0,0);
  }
   100% {
   -moz-transform:scale(.5);
   color:rgb(255,255,255);
  }
}


.menu{
	height: 20px;
   position: fixed;
   right: 4vh;
   top: 83vh;
   width: 25px;
   z-index: 99;
	display: flex;

}

.menu__line{
   background: black;
   display: block;
   height: 2px;
   position: absolute;
   transition:transform .3s;
   width: 100%;
   box-shadow: 0 0 1px 1px rgba(255,255,255,1);
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}


.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100vh;
    position: fixed;
	 width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
	z-index: 98;
}

.gnav__menu{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 100px;
	list-style: none;
}

.gnav__menu__item{
   margin: 0 0 1vh 100px;
	opacity: 0;
}

.gnav__menu__item a{
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

.gnav__menu__item a:hover {
    color: #666;
}

/*  *.wrapper {
	position: relative;
	display: flex;
	align-items: ;
	height: 100vh;
	width: 100%;
	padding-bottom: 2vh;
	box-sizing: border-box;
	z-index: 99;
	}
  */
.header {
	height: 10vh;
	width: 100%;
	display: grid;
	place-items: center;
	z-index: 99;
}

.logo {
	max-height: 5vh;
	max-width: 100%;
	min-height: auto;
	min-width: auto;
}

.mv {
	display: flex;
	position: relative;
	height: 80vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.mv-bg {
	position: absolute;
	max-width: 90vw;
	max-height: 80vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	/*  *-webkit-transform: translateX(-50%);
	left: 50%;
	max-height: 50vh;
	max-width: 100%;
	min-height: auto;
	min-width: auto;
	display: flex;
	position: absolute;
	transform: translateX(-50%);
		justify-content:center;
	align-items: center;
	z-index: ;
	display:; */
}
/*info ----------------------------------------------- */
.grid {
  display: grid;
  grid-gap: 20px;
  padding-left: 10vw;
  padding-bottom: 2vw;
  width: 80vw;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: 15px;

}

/* Non-grid specific CSS */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.15em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.item {
	border-radius: 10px;
	background-color: #e8e8e8;
}

.photothumb{
  width: 100%;
	 margin: 0 10px 10px 0;
  float: left;
}

.title {
  padding: 7px;
	border-radius: 10px 10px 0 0;
 }

.title h3{
  font-size: 0.7em;
  color: #ffffff;
  text-transform: uppercase;
}

.project .title{
  background-color: #607D8B;
}

.blog .title{
  background-color: #ff9800;
}

.photo .title{
  background-color: #f44336;
}

.desc{
  padding: 10px 10px 5px 10px;
}

.desc img{
  width: 100%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc video {
	width: 100%;
	}

.desc p{
  margin-bottom: 10px;
}

.date {
	font-size: 0.5em;
	list-style: none;
	margin-left: 10px;
	}

@media screen and (orientation:landscape) {
		.grid {
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			grid-auto-columns: 250px;
		}
}

/* collectionーーーーーーーーーーーーーーーーーーーーーー */
.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#photosbox {
	width: ;
	display:;
	padding-left: ;
	padding-right:;
	}

#photos {
	width: 80vw;
	margin-left: 10vw;
	line-height: 0;

	-webkit-column-count: 4;
	-webkit-column-gap: 0px;
	-moz-column-count: 4;
	-moz-column-gap: 0px;
	column-count: 4;
	column-gap: 0px;

}

#photos img {
	width: 97%;
	height: auto;
	margin-left: 1%;
	padding-bottom: 3%;
}


@media (max-width: 1200px) {
  #photosbox {
  width:100%;
  padding-left: 0;
}
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}


.blogo {
	position: absolute;
	max-width: 100%;
	max-height: 80vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.foot {
		height: 10vh;
		width: 100%;
		text-align: center;
		position: relative;
		bottom: 0;
		z-index: 1;
}

.foot p {
	position: absolute;
	font-size: 2vh;
	left: 0;
	right: 0;
	bottom: 0;

}


@media screen and (orientation:landscape) {

		.menu {
			top: 3vh;
			}
      .gnav__menu{
        position: absolute;
        left: 65%;
        transform: translate(-50%);
        width: 100px;
        list-style: none;
      }


}
